[Unit]
Description=A simple task tracking app

[Service]
Type=simple
User=tasktracker
Group=tasktracker
Restart=on-failure
Environment=MIX_ENV=prod "PORT=1034"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/tasktracker/
ExecStart=/home/tasktracker/start.sh

[Install]
WantedBy=multi-user.target
