<h1>Registered User</h1>




    <strong>Name:</strong>
    <%= @user.name %>

<br>

    <strong>Email:</strong>
    <%= @user.email %>

<br>
<a class="btn btn-sm btn-info" <%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></a>
<a class="btn btn-sm btn-secondary" <%= link "Back", to: Routes.user_path(@conn, :index) %></a>
