<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tasktracker · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
    <body class="text-center black-background">

      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">TaskTracker</h3>
            <nav class="nav justify-content-center">
              <a class="nav-link color-black" <%= link "Home", to: Routes.page_path(@conn, :index)%></a>
              <a class="nav-link color-black" <%= link "Tasks", to: Routes.task_path(@conn, :index)%></a>
              <a class="nav-link color-black" <%= link "Users", to: Routes.user_path(@conn, :index)%></a>
                                    <div>
                                                          <%= if @current_user do %>
                                                              <button class="btn btn-lg btn-danger"
                                                              <%= link("Logout " <> @current_user.name, to: Routes.session_path(@conn, :delete),
                                                                method: :delete)%>
                                                          <% end %>
                                                        </div>
            </nav>

          </div>

       </header>


                    <main role="main" class="container">
                                <%= if get_flash(@conn, :info) do %>
                                  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
                                <% end %>
                                <%= if get_flash(@conn, :error) do %>
                                  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
                                <% end %>
                      <%= render @view_module, @view_template, assigns %>
                    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>A homework assignment for WebDev by <a href="https://github.com/bdewitt">Bryce DeWitt</a>.</p>

          </div>
        </footer>
      </div>

    </body>
</html>
